.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: white;
}

.title {
    margin: 0;
}

.nav {
    display: flex;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-left: 1rem;
     
}

.nav-item a {
    color: black;
    text-decoration: none;
}

.blog-button {
    margin: 15px;
}


.logout-button {
    background-color: #ff4757;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 4px;
    width: 100px;
}

h1 a {
    color: #333;
}