/* General header styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #f5f5f5;  /* Light grey background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  /* Slight shadow for depth */
    color: #333;  /* Dark text for contrast */
    border-bottom: 2px solid #ddd;  /* Subtle border to separate from the main content */
}

.title {
    margin: 0;
    font-size: 1.5rem;
}

.title a {
    text-decoration: none;
    color: #333;  /* Dark text color */
    font-weight: bold;
}

.nav {
    display: flex;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    display: flex;
    align-items: center;
}

.blog-button, .login-button {
    background-color: transparent;
    color: #333;  /* Dark color for text */
    border: 1px solid #333;  /* Border for buttons */
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 500;
    margin: 0 1rem;
}

.blog-button:hover, .login-button:hover {
    background-color: #333;
    color: #fff;
}

.logout-button {
    background-color: #ff4757;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #e84118;  
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav {
        width: 100%;
        margin-top: 1rem;
        justify-content: space-between;
    }

    .nav-list {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .nav-item {
        margin-left: 0;
        flex-grow: 1;
        text-align: center;
    }

    .blog-button, .login-button {
        width: 100%;
        margin: 0.5rem 0;
    }
}
