.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.post {
    display: grid;
    grid-template-rows: 1fr auto 2fr; 
    justify-content: center;
    align-items: start;
    padding: 30px;
    
    width: 100%;
}

.postTitle {
    
}

.content {
    width: 60%;
}
.post p {
    justify-self: center; 
    overflow-y: auto; 
    max-width: 800px; 
}

 